@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');




body{
    background: linear-gradient(to bottom, #5eb7ff 50%, #ffffff);
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
    padding: 0;
}


.header{

	position: relative;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 0px;
	text-align: center;
	background: rgba(0, 0, 0, 0.27);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: "Caveat";
  }

* {
    margin: 0;
    padding: 0;
}

.slider {

    width: 550px;
    height: 300px;
    overflow: hidden;
    border: 5px solid #000000;
}

.middle {
    position: absolute;
    margin-top: 1%;
    left:30%;
    transform: flex;
}

.navigation{
    margin-left: 15%;
    position: absolute;
    bottom: 16px;
    left:35%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #000000;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}







#kharkov{

    margin-left: 30%;
    box-sizing: border-box;
    width: 40%;
}

#kharkov_name{
    border-bottom:2px solid #171717;
    text-align: justify;
    font-style: italic;
    font-family: caveat;
    padding-top: 5%;
    color: #171717;
    font-size: 60px;
}

#name{
    text-align: center;
    font-style: italic;
    font-family: caveat;
    padding-top: 5%;
    color: #171717;
    font-size: 60px;
}

#name1{
    margin-top: 100px;
    text-align: center;
    font-style: italic;
    font-family: caveat;
    padding-top: 5%;
    color: #171717;
    font-size: 60px;
}

#article_1{
    padding: 20px;
    text-indent: 30px;
    padding-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#article_2{
    padding: 20px;
    text-indent: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 20%;
    padding-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

  .footer {
    border-top: 1px solid #91919147;
    background:#57575729;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 80%;
  }
  
  .column {
    flex-basis: 130%;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }

.imgBar{
    margin-top: 6px;
    border: 2px solid #171717;

}

#leftBar{
    padding-left: 30px;
    float:left;
    width: 20%;
    position: relative; z-index: 0;
}

#rightBar{
    padding-left: 30px;
    float:right;
    width: 20%;
    position: relative; z-index: 0;
}
  
#citation{
    box-shadow: 2px 3px 5px #7979798e;
    margin-top: 60px;
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #bfbfbfdf, #edededaa);
    height: 180px;
    width: 260px;
    margin-left: 60%;
}



#text_cit{
    font-size: 30px;
    font-family: 'Caveat';
}

#text_cit2{
    font-size: 27px;
    font-family: 'Caveat';
}

#author_cit{
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}
  